body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
}
#historyinfo {
  width: 95%;
  height: 80vh;
  border-radius: 20px;
  padding: 1%;
  overflow-y: scroll;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#historyinfo::-webkit-scrollbar {
  width: 15px;
}
#historyinfo::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}
#historyinfo::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 4px;
}
#historyinfo::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

#historyinfo > div {
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  width: 99%;
  height: fit-content;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#historyinfo > div > img {
  width: 40px;
  margin: 10px;
}
#historyinfo > div > div {
  /* border: 2px solid rgb(0, 255, 217); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 97%;
  height: 100%;
}
#historyinfo > div > div > img {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.item1 {
  grid-area: button;
}
.item2 {
  grid-area: history;
}

.grid-container {
  display: grid;
  grid-template-areas: "button  history history history history history history history";
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  place-items: center;
}

#InfoDivOuter {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.268);
  position: absolute;
  top: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

#infoDiv {
  width: 50%;
  height: 50vh;
  border-radius: 20px;
  padding: 1%;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infoDiv > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#infoDiv > div > button {
  background-color: red;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  color: white;
  padding: 0.4rem 1rem;
}

.Btns {
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  transition: 200ms;
}

.Btns:hover {
  background: linear-gradient(180deg, #185cc2 0%, #0e42a3 100%);
  transform: scale(0.95);
  cursor: pointer;
}

#infoDiv > div > button:hover {
  background-color: rgb(126, 0, 0);
}

/* loading animation */
.loadingScreen {
  background-color: rgba(255, 255, 255, 0.683);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: 0.9s;
  --uib-color: #0052c4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ends */

@media screen and (max-width: 1168px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
  #historyinfo {
    padding: 1rem;
  }
  #historyinfo > div {
    flex-direction: column;
    padding: 1rem;
    gap: 0.3rem;
  }
  #historyinfo > div > div {
    flex-direction: column;
    padding: 1rem;
  }
}
