body {
  background-color: rgb(176, 212, 244) !important;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: auto;
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
  margin-right: 20px;
}

.form-card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.form-card h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-details {
  padding: 20px;
}

.card-details h2 {
  margin-top: 0;
}

.price-details {
  padding: 20px;
}

.navbar-brand > img {
  width: 16%;
}

#showImg {
  background-color: grey;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dynamicInputs {
  border: 5px solid red;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
  .container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    margin-right: 0;
  }
}

@media screen and (max-width: 368px) {
  html {
    font-size: 55%;
  }
}
